html, body {
    padding: 0;
    margin: 0;
    font-family: "Helvetica Neue Light", "Lucida Grande", "Calibri", "Arial", sans-serif;
     -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.Main {
    padding: 20px;
}

header {
    margin: 60px 0;
    font-size: 2rem;
    text-align: center;
    color: #33495d;
    height: 40px;
}

h4 {
    font-size: 1rem;
    color: #33495d;
    margin: 40px 0;
}

.ListItem {
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 0;
    position: relative;
    color: #000;
    background-color: #fff;
    min-height: 2.75em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow: hidden;
    border: 1px solid #c8c7cc;
    box-sizing: border-box;
    -webkit-transition: background-color .2s linear;
    transition: background-color .2s linear;
}
