<!DOCTYPE html>
<html>
<head>
    <title>Composition Decorator More</title>
    <script type="text/mod-serialization">{
        "owner": {
            "values": {
                "element": {"#": "compositionDecoratorMore"}
            }
        },

        "decorator": {
            "prototype": "spec/ui/drawing/component/decorator.mod",
            "values": {
                "element": {"#": "decorator"}
            }
        }
    }</script>
</head>
<body>
    <div data-mod-id="compositionDecoratorMore">
        <div class="composition-decoration">
            <div data-mod-id="decorator">
                <h1>More</h1>
                <span data-param="*"></span>
            </div>
        </div>
    </div>
</body>
</html>
