<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <script type="text/mod-serialization">{

    }</script>
</head>
<body>
    <!-- no collision -->
    <ul data-mod-id="repetition2" id="noCollision">
        <li>
            <h2 data-mod-id="section"></h2>
        </li>
    </ul>

    <!-- collisions -->
    <ul data-mod-id="repetition" id="collisions">
        <li>
            <h1 data-mod-id="title" id="title"></h1>
            <span data-mod-id="text"></span>
        </li>
    </ul>
</body>
</html>
